# Ignore node_modules directory
node_modules

# Ignore config.json file
config.json

# Ignore Visual Studio Code settings
.vscode

# Ignore log files
*.log

# Ignore source map files
*.map

# Ignore all image file formats
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg
*.webp

# Ignore all video file formats
*.mp4
*.mov
*.avi
*.mkv
*.flv
*.wmv
*.webm
*.mpeg
*.mpg
