services:
  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: wordpress_db
      MYSQL_USER: wordpress_user
      MYSQL_PASSWORD: wordpress_password
    networks:
      - wp-network

  wordpress:
    build:
      context: .
      dockerfile: etc/docker/Dockerfile
    depends_on:
      - db
    ports:
      - '8080:80'
    volumes:
      - .:/var/www/html/wp-content/themes/fast-theme
    environment:
      WORDPRESS_DB_HOST: db 
      WORDPRESS_DB_USER: wordpress_user
      WORDPRESS_DB_PASSWORD: wordpress_password
      WORDPRESS_DB_NAME: wordpress_db
    env_file:
      - .env
    networks:
      - wp-network

volumes:
  db_data:
  

networks:
  wp-network:   
    driver: bridge
